SERVER_PORT = 3000
SECRET_KEY_SESSION = TEST
URL_MONGODB_SERVER_LOCAL = 'mongodb://localhost:27017/DB_Event_management'
STRIPE_SECRET_KEY = stripe_secret_key
STRIPE_WEBHOOK_KEY = stripe_webhook_key
EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 2525
EMAIL_USER = email_user
EMAIL_PASSWORD = email_password
RECEIVER_EMAIL = email_receiver


# acct_1P2yVE06sb7pwrAB